                    /* DEVELOPED by Ravi Kant Gupta */
/* Css Reset  */
* {
    scroll-behavior: smooth;
     padding: 0px;
     font-family: 'Montserrat', sans-serif;

}

/* Navbar Styling Starts From Here */
#navbar{
 font-size: larger;
  height: 70px;
 display: flex;
 top: 0px;
 left: 0px;
 position: sticky;
 border-radius: 25px;
 font-family: sans-serif;
 background-color:rgb(3, 3, 3)
}
#navbar img{
 width: 34%;
 margin-left: 21px;
 height: 100%;

}
 
#navbar ul {
 display: flex;
}

#navbar li {
 list-style: none;
 
}

#navbar li a:hover {
 text-decoration: underline;
 text-decoration-color: red;
}

#navbar li a {
 color:whitesmoke;
 font-family: 'Times New Roman', Times, serif;
 text-decoration: none;
 margin: 0px 12px;
 font-size: 1.4rem;
 padding: 5px 5px;
}


  #Team{
    height: 100%;
    width: 99%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3mm ridge rgba(233, 176, 55, 0.719);       
    background-color:rgb(190, 102, 95);
    border-bottom: hidden;
}
/* Title */
#Team h1{
        font-size: 3.2rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(53, 218, 127);
}

        
.developer{
    display: flex; 
}

.aviral img{
    border: thick double #f57086;
    border-radius: 25% 10%;        
    margin-left: 300px;
    width: 300px;   
    height:300px;
    background-color: #fff;
    transition: transform .3s;
}
.aviral img:hover{
    transform: scale(1.1);
    
}

.aviral span{
    font-size: 1.5rem;
    color: gold;
    font-family: 'Lobster', cursive;
    margin-left: 300px;  
}
.Ravi img{
    border: thick double #f57077;
    border-radius: 25% 10%;        
    margin-left: 180px;
    width:275px;   
    height:300px;
    background-color: #fff;
    transition: transform .3s;
}
.Ravi img:hover{
    transform: scale(1.1);
}
.Ravi span{
    font-size: 1.5rem;
    color: gold;
    font-family: 'Lobster', cursive;
    margin-left: 160px
}

/* Other team members section starts from here */
.team{
    margin: 48px;
    border: 1.6mm solid rgb(243, 122, 52);
    border-radius: 10px 100px / 120px;
    color: rgb(14 224 108);
    font-size: 1.3rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

        /* Team members Row -1 */
#team-members-1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
        /* Team members Row -2 */
#team-members-2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
#Volunteers-1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    
}
#Volunteers-2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
#vol{
    border: 3mm ridge rgba(233, 176, 55, 0.719);       
    background-color:rgb(190, 102, 95);
    border-top: hidden;
    margin-left: -5px;
    width: 99%;
    height: 735px;
}

.team-members{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
}

.team-members img{
    border: thick double #f57086;
    border-radius: 25% 10%;        
    margin-left: 30px;
    width: 200px;   
    height: 200px;
    background-color: #fff;
    cursor: pointer;
    transition: transform .4s;

}
.team-members img:hover{
    transform: scale(1.1);
}


.team-members span{
    font-size: 1.5rem;
    color: gold;
    font-family: 'Lobster', cursive;
    margin-left: 20px;
}

/* Portfolio links styling */

.portfolio a {
    text-decoration: none;
    font-size: 1.5rem;
    color: gold;
    font-family: 'Lobster', cursive;
    margin-left: 20px;
}
 /* Footer Start from Here */
 footer{
    justify-content: center;
    background-color: brown;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-size: 1.2rem;
}